<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
	<system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
	
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	
  <appSettings>
    <!-- Scheduler -->
    <add key="Scheduler.IntervalTimeInSeconds" value="3600" />
    <!-- Alert criteria -->
    <add key="Alert.ShouldAlert" value="false" />
    <add key="Alert.MinimumKValue" value="6" />
    <add key="Alert.AlertOnWarnings" value="0" />
    <!-- SMTP server config information -->
    <add key="Smtp.EmailAddress" value="" />
    <add key="Smtp.EmailPassword" value="" />
    <add key="Smtp.ServerHost" value="smtp.gmail.com" />
    <add key="Smtp.ServerPort" value="587" />
    <!-- Text message sender information -->
    <add key="TextMessage.FromEmailAddress" value="" />
    <!-- Text message recipients lists -->
    <!-- Format is comma delimited number@provider,... -->
    <!-- AT&T: @txt.att.net -->
    <!-- Verizon: @vtext.com -->
    <!-- T-Mobile: ? -->
    <add key="TextMessage.ToPhoneNumbers" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
	
</configuration>