<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	
	<appSettings>

		<!-- Scheduler -->
		<add key="Scheduler.IntervalTimeInSeconds" value="3600"/>
		
		<!-- Alert criteria -->
		<add key="Alert.MinimumKValue" value="6"/>
		<add key="Alert.AlertOnWarnings" value="0"/>
		
		<!-- SMTP server config information -->
		<add key="Smtp.EmailAddress" value=""/>
		<add key="Smtp.EmailPassword" value=""/>
		<add key="Smtp.ServerHost" value="smtp.gmail.com"/>
		<add key="Smtp.ServerPort" value="587"/>

		<!-- Text message sender information -->
		<add key="TextMessage.FromEmailAddress" value=""/>
		
		<!-- Text message recipients lists -->
		<!-- Format is comma delimited number@provider,... -->
		<!-- AT&T: @txt.att.net -->
		<!-- Verizon: @vtext.com -->
		<!-- T-Mobile: ? -->
		<add key="TextMessage.ToPhoneNumbers" value=""/>

	</appSettings>
	
</configuration>